<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568472974316-ejaetfe8v9tp6ulmich3iknse4fqu85d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568472974316-ejaetfe8v9tp6ulmich3iknse4fqu85d</string>
	<key>API_KEY</key>
	<string>AIzaSyAvcg7K5v4CvyfOWE0xcMwkPPkk7vXd1AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>568472974316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Semana6</string>
	<key>PROJECT_ID</key>
	<string>apppachaqtec</string>
	<key>STORAGE_BUCKET</key>
	<string>apppachaqtec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568472974316:ios:f251c0444d44fefcd2c6c9</string>
	<key>DATABASE_URL</key>
	<string>https://apppachaqtec.firebaseio.com</string>
</dict>
</plist>